.App {
  margin-left: 300px;
  margin-right: 7px;
  text-align: center;
  padding: 10px;
}

body {
  background-color: #575e68;
  // background: rgb(64, 64, 64);
  // background: linear-gradient(
  //   18deg,
  //   rgba(64, 64, 64, 1) 0%,
  //   rgba(162, 162, 162, 1) 100%
  // );
}

a {
  color: rgb(176, 210, 231);
  text-decoration: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

textarea:focus,
input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
