.App {
  margin-left: 240px;
  text-align: center;
}

body {
  background-color: #575e68;
}

a {
  color: rgb(176, 210, 231);
  text-decoration: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 59px 25px;
  box-shadow: 0 5px 5px 0 rgb(77 194 255), 0 5px 10px 0 rgb(58 146 192 / 89%);
  width: 240px;
  z-index: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(45 47 50);
}

.nav-links {
  font-family: 'Comfortaa', cursive;
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

h3#header-logo {
  font-size: 40px;
}

a.header-logo-link {
  font-family: 'Rubik Moonrocks', cursive;
  color: #ffd927;
}

li {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}

li#nav-login-link:hover {
  background-color: #75a07f;
}

li#nav-register-link:hover {
  background-color: #a66551;
}

a.nav-link-a:hover {
  color: #2d2f32;
}

li#nav-dashboard-link:hover {
  background-color: #75a07f;
}

button.nav-link-logout {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  background-color: #2d2f32;
  color: rgb(176, 210, 231);
  border: none;
}

button.nav-link-logout:hover {
  background-color: #a66551;
  color: #2d2f32
}