.playlist-world-item-container {
  border: 1px solid #2d2f32;
  border-radius: 5px;
  width: 25%;
  margin: 15px;
}

.playlist-world-item-container:hover {
  background-color: #626b79;
  box-shadow: 3px 3px #e7d88a87;
}

h3.playlist-world-item-title {
  font-family: "Comfortaa";
  font-size: 30px;
  color: #fed928;
  margin: auto;
}

h5.playlist-world-item-author {
  font-family: "Comfortaa";
  font-size: 15px;
  color: #1c252b;
}

img.playlist-world-item-img {
  width: 100%;
}

.playlist-world-item-description {
  font-family: "Comfortaa";
  margin-bottom: 14px;
  font-size: 20px;
}

.playlist-world-wrapper {
  position: relative;
}

.playlist-world-item-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  width: fit-content;
  padding: 25px;
  background: rgb(51 61 67 / 72%);
  border-radius: 10px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  margin: auto;
}

.playlist-world-wrapper:hover .playlist-world-item-title {
  visibility: visible;
  opacity: 1;
}

.playlist-world-button-wrapper {
  display: flex;
  flex-direction: column;
}

a.playlist-world-item-launch-item {
  width: auto;
  font-family: "Comfortaa";
  font-size: 18px;
  padding: 10px 0px;
  text-align: center;
  background-color: #5e9369;
  border: none;
  border-radius: 0px;
  color: #2d2f32;
}

a.playlist-world-item-launch-item:hover {
  background-color: #386641;
  cursor: pointer;
}

.playlist-world-item-delete-button {
  width: auto;
  font-family: "Comfortaa";
  font-size: 18px;
  padding: 10px 0px;
  text-align: center;
  background-color: #be8989;
  border: none;
  border-radius: 0px;
  color: #2d2f32;
}

.playlist-world-item-delete-button:hover {
  background-color: #956868;
  cursor: pointer;
}

.playlist-world-popup-title {
  font-size: 30px;
}
