h3.public-playlist-title {
  display: flex;
  background-color: rgb(59, 61, 65);
  width: 150px;
  height: 150px;
  border-radius: 10px 0px 0px 10px;
}

.public-playlist-container {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  
}

a.public-playlist-title-link {
  color: #fed928;
  font-family: "Comfortaa", cursive;
  font-size: 26px;
  margin: auto 0px;
}

h3.public-playlist-title:hover {
  background-color: #2a2c2f;
}

.public-playlist-right-container {
  border: 1px solid #372b3a;
  border-radius: 0px 10px 10px 0px;
  height: 150px;
  margin: 18px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  background-color: #777f8a;
  overflow: hidden;
}

.public-playlist-info-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #9ca0a7;
  height: inherit;
  align-items: center;
  justify-content: space-evenly;
}

.public-playlist-worlds-title {
  font-family: "Comfortaa", cursive;
  text-orientation: upright;
  writing-mode: tb-rl;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 7px;
  border-right: #2a2c2f 1px solid;
}

.public-playlist-worlds-title:hover {
  cursor: default;
}

.public-playlist-description {
  font-size: 18px;
  font-family: "Comfortaa", cursive;
}

.public-playlist-worlds-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  width: 100%;
}

.public-playlist-author {
  font-family: "Comfortaa", cursive;
  font-size: 14px;
}

.public-playlist-world-list {
  display: flex;
  flex-direction: row;
}

.public-playlist-image-container {
}

.public-playlist-image {
  height: 170px;
  // border-radius: 5px;
  margin: auto 0px;
}

.public-playlist-delete-container {
  padding: 10px;
  font-family: "Comfortaa", cursive;
  text-orientation: upright;
  writing-mode: tb-rl;
  // writing-mode: vertical-lr;
  // transform: rotate(180deg);
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(150, 53, 53);
  color: white;
}

.public-playlist-delete-container:hover {
  background-color: #8d1313;
  cursor: pointer;
}

.public-playlist-wrapper {
  display: flex;
  height: 150px;
  border-radius: 10px;
  align-items: center;
  border: #000000 1px solid;
}

.public-playlist-wrapper:hover {
  // box-shadow: 5px 5px rgb(132, 132, 132);
}
