.playlist-world-item-container {
  border: 1px solid #2d2f32;
  border-radius: 5px;
  width: 25%;
  margin: 15px;
}

h3.playlist-world-item-title {
  font-family: 'Comfortaa';
  font-size: 30px;
  color: #fed928;
}

h5.playlist-world-item-author {
  font-family: 'Comfortaa';
  color: #b3c7d2;
}

img.playlist-world-item-img {
  width: 100%;
}

.playlist-world-item-description {
  font-family: 'Comfortaa';
  margin-bottom: 14px;
}