.show-world {
  background-color: aquamarine;
  display: flex;
}

.img-world {
  height: 250px;
}

.show-world p {
  display: flex;
  justify-content: baseline;
}

.world-desc p {
  display: flex;
  align-items: baseline;
}
