@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Rubik+Moonrocks&display=swap');

div#create-playlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1.create-playlist-heading {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 40px;
  color: #f8d427;
  margin-bottom: 0px;
}


input.create-playlist-title{
  font-family: 'Comfortaa', cursive;
  margin: 15px;
  width: 30%;
  padding: 15px 40px;
  border-radius: 5px;
  background-color: #6d7683;
  border: 1px solid rgb(176, 210, 231);
}

input.create-playlist-title:hover {
  background-color: #8594aa;
}

input.create-playlist-description {
  font-family: 'Comfortaa', cursive;
  margin: 15px;
  width: 30%;
  padding: 15px 40px;
  border-radius: 5px;
  background-color: #6d7683;
  border: 1px solid rgb(176, 210, 231);
}

input.create-playlist-description:hover {
  background-color: #8594aa;
}

::placeholder {
  color: #212327;
  text-align: center;
  font-size: 20px;
  color: rgb(176, 210, 231);
}

button.create-playlist-create-button{
  font-family: 'Comfortaa', cursive;
  margin: 15px;
  width: 35%;
  padding: 15px 40px;
  border-radius: 5px;
  background-color: #75a07f;
  padding: 15px 40px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: #41252f;
}

button.create-playlist-create-button:hover {
  color: #2f3339;
  background-color: #5e9369;
}

input[type="text"] {
  font-weight: bold;
  font-size:20px;
  color: #2f3339;
  text-align: center;
}